/* Custom font */
@font-face {
    font-family: 'lakeshore';
    src: url('fonts/LAKESHOR-webfont.eot');
    src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/LAKESHOR-webfont.woff') format('woff'),
        url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
        url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
}

/* Elements */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    background: rgb(149, 194, 215);
}

a {
    text-decoration: none;
}

/* Class styles */
/* Unordered List */
.thumbnail-title {
    display: block;
    margin: 0px;
    padding: 4px 10px;

    background: rgb(96, 125, 139);
    color: rgb(202, 238, 255);

    font-size: 18px;
}

.thumbnail-image {
    display: block;
    width: 100%;
}

.thumbnail-item {
    display: inline-block;
    max-width: 120px;
    min-width: 120px;
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.thumbnail-list {
    justify-content: space-between;
    flex: 0 1 auto;
    list-style: none;
    display: flex;
    padding: 0px;
    white-space: nowrap;
    overflow-x: auto;
    order: 2;
}

/* Detail Image */
.detail-image-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.detail-image-frame {
    text-align: center;
    position: relative;
}

.detail-image-title {
    position: absolute;
    bottom: -16px;
    left: 4px;

    font-family: cursive;
    color: white;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.9);
    font-size: 40px;
}

/* Text */
.logo-text {
    background: white;

    text-align: center;
    text-transform: uppercase;
    font-size: 37px;
    font-family: lakeshore;
}

/* Main */
.main-header {
    flex: 0 1 auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

/* Detail Image */
.detail-image {
    width: 90%;
}

/* Media Queries */
@media all and (orientation: landscape) {
    .main-content{
        flex-direction: row;
        overflow: hidden;
    }

    .thumbnail-list {
        flex-direction: column;
        margin-left: 20px;
        order: 0;
    }

    .thumbnail-item {
        max-width: 260px;
    }

    .thumbnail-item + .thumbnail-item {
        margin-top: 20px;
    }
}